<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pureum_RiotInfo</title>
    <link rel="stylesheet" href="/css/common.css" charset="UTF-8">
    <link />
    <script type="text/javascript" src="../Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../Scripts/modernizr-2.8.3.js"></script>
    <script type="text/javascript" src="~/js/common.js"></script>
</head>
<body>     
    <div >
        @RenderBody()
        <hr />
        <footer>
            <!--main-content-->

            <div class="footer-wrap">
                <div class="footer" id="footer">
                                      
                    <p class="copyright">
                        Copyright(c) Since 2021, Riot&amp;최푸름 All rights reserved.
                    </p>
                </div>
            </div>

            <!--footer-wrap-->
        </footer>
    </div>
</body>

</html>
