<header>
    <div class="header" style="all:unset;position:fixed; top:0; left:30px;margin:0 auto; padding:10px;float:left;">
        <a href="http://riotinfo.com/Main" style="all:unset;cursor:pointer">         
            <h2><img src="~/image/tier-icons/base-icons/bronze.png" alt="tier_img" style="width:30px;height:30px;" />덕법 빅브라더 감시방</h2>
        </a>
        <form id="LolForm" method="get" action="/Main/Summoner">
            <div class="search">
                <input name="search_summoner" id="search_summoner" type="text"
                       placeholder="닭is치킨" />
                <button type="button" onclick="Onsubmit()">채찍버튼</button>

            </div>

        </form>      
    </div>
</header>