
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="header" style="float:left; margin:0 auto">
        <img src="~/image/tier-icons/base-icons/bronze.png" alt="tier_img" />
        <h1>덕법 빅브라더 감시방</h1>
    </div>
    <form id="LolForm" method="get" action="/Main/Summoner">
        <div class="search">
            <input name="search_summoner" id="search_summoner" type="text"
                   placeholder="닭is치킨" />
            <button type="submit">채찍버튼</button>
        </div>
    </form>

</div>

