
@using RiotInfo.com.Util;
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="header" style="float:left; margin:0 auto">
        <img src="~/image/tier-icons/base-icons/bronze.png" alt="tier_img" />
        <h1>덕법 빅브라더 감시방</h1>
    </div>
    <form id="LolForm" method="get" action="/Main/Summoner">
        <div class="search">
            <input name="search_summoner" id="search_summoner" type="text"
                   placeholder="닭is치킨" />
            <button type="button" onclick="Onsubmit()">채찍버튼</button>
        </div>
    </form>
    <div id="rota">
        <h4>이번주 로테이션</h4>
        <table>
            <thead>
                <tr>
                    <td>name</td>
                    <td>title</td>
                    <td>skin count</td>
                    <td>passive</td>
                    <td></td>
                </tr>
            </thead>
           
        </table>
        <button onclick="InsertChamp();">Admin 챔피언등록</button>
    </div>
</div>
<script>
    function InsertChamp() {
        $.ajax({
            url: "//RiotInfo.com/Champ/Upload",
            method: "GET",
            success: function (d) {
                alert("챔피언 등록완료");
            }
        })
    }
</script>

